body{
    font-family: 'Walter Turncoat', cursive;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#map{
    height: 75vh;
}

.container{
    margin-top: 1em;
    border: 15px ridge rgb(119, 119, 220);
}

.image-marker {
    height: 75px;
    width: 75px;
}